<div class="container">
  <div class="header">
    <h1>We are here to help.</h1>
    <img src="../../../assets/images/bg_contact-us.svg" alt="rectangle_7" />
  </div>
  <p>Please fill the form below and we will contact your shortly.</p>
  <div class="form">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Full Name</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email Id</mat-label>
        <input type="email" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Mobile Number</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button>Submit</button>
    </form>
  </div>

  <div class="map">
    <div class="left">
      <div class="gmap_canvas">
        <iframe width="780" height="434" id="gmap_canvas"
          src="https://maps.google.com/maps?q=Delhi,%20India&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          scrolling="no" marginheight="0" marginwidth="0">
        </iframe>
      </div>
    </div>
    <div class="right">
      <div class="address">
        <img src="../../../assets/icons/icon_location.svg" alt="">
        <p>Octas India Pvt. Ltd.
          Basanta pukur road,
          Duttapara, Halisahar,
          Kolkata, 743134</p>
      </div>
      <div class="mail">
        <img src="../../../assets/icons/icon_mail.svg" alt="">
        <a href="mailto:Info@dreamzar.com">Info@dreamzar.com</a>
      </div>
    </div>
  </div>
</div>