<div class="container">
    <div class="row-1">
        <div class="col">
            <h1>Company</h1>
            <a routerLink="/about-us">About us</a>
            <a routerLink="/delivery-partner">Delivery Partner</a>
            <a routerLink="/contact-us">Contact us</a>
        </div>
        <div class="col">
            <h1>Business</h1>
            <a routerLink="/apply-seller">Add Your Store</a>
        </div>
        <div class="col">
            <h1>Policy</h1>
            <a routerLink="/privacy-policy">Privacy Policy</a>
            <a routerLink="/seller-policy">Seller Policy</a>
        </div>
    </div>
    <div class="row-2">
        <div class="left">
            <h1>Follow Us</h1>
            <div class="social-icons">
                <img src="../../../assets/icons/icon_facebook.svg" alt="">
                <img src="../../../assets/icons/icon_insta.svg" alt="">
                <img src="../../../assets/icons/icon_linkedin.svg" alt="">
            </div>
        </div>
        <div class="right">
            <img src="../../../assets/images/startup_india_logo.svg" alt="">
        </div>
    </div>
</div>