<div class="container">
  <div class="header">
    <div class="title">
      <h1>From Food to Veges Delivery at your doorstep</h1>
      <p>Whether you need groceries for your kitchen, a quick meal for lunch, or a last-minute gift, Dreamzar is here to
        make your life easier. From local stores at your doorsteps</p>
    </div>
    <img src="../../../assets/images/rectangle_7.svg" alt="rectangle_7" />
  </div>
  <h2>We <span>Deliver</span></h2>
  <div class="menu">
    <div class="menu-top">
      <div class="img-1">
        <img src="../assets/images/ellipse_1.svg" alt="ellipse_1">
        <div class="bg-circle-1"></div>
        <div class="bg-circle-1-s"></div>
      </div>
      <div class="img-2">
        <img src="../assets/images/ellipse_4.svg" alt="ellipse_4">
        <div class="bg-circle-2"></div>
        <div class="bg-circle-2-s"></div>
      </div>
      <div class="img-3">
        <img src="../assets/images/ellipse_6.svg" alt="ellipse_6">
        <div class="bg-circle-3"></div>
        <div class="bg-circle-3-s"></div>
      </div>
      <div class="img-4">
        <img src="../assets/images/ellipse_2.svg" alt="ellipse_2">
        <div class="bg-circle-4"></div>
        <div class="bg-circle-4-s"></div>
      </div>
    </div>
    <div class="menu-bottom">
      <div class="img-1">
        <img src="../assets/images/ellipse_5.svg" alt="ellipse_1">
        <div class="bg-circle-1"></div>
        <div class="bg-circle-1-s"></div>
      </div>
      <div class="img-2">
        <img src="../assets/images/ellipse_4_d.svg" alt="ellipse_4">
        <div class="bg-circle-2"></div>
        <div class="bg-circle-2-s"></div>
      </div>
      <div class="img-3">
        <img src="../assets/images/ellipse_5_d.svg" alt="ellipse_6">
        <div class="bg-circle-3"></div>
        <div class="bg-circle-3-s"></div>
      </div>
      <div class="img-4">
        <img src="../assets/images/ellipse_3.svg" alt="ellipse_2">
        <div class="bg-circle-4"></div>
        <div class="bg-circle-4-s"></div>
      </div>
    </div>
    <div class="download-section">
      <img src="../assets/images/istockphoto.svg" alt="istockphoto">
      <div class="right">
        <h2>Download Dreamzar App</h2>
        <p>Now Order From Your Favourite Local Stores</p>
        <div class="download-btn">
          <img src="../assets/images/gp_img.svg" alt="gp_img">
          <img src="../assets/images/as_img.svg" alt="as_img">
        </div>
      </div>
    </div>
    <div class="workflow">
      <h2>How We <span>Serve</span> You</h2>
      <div class="img-container">
        <img src="../assets/images/ellipse_23.svg" alt="">
        <img class="line-img" src="../assets/images/line_1.svg" alt="">
        <img class="img-2" src="../assets/images/ellipse_25.svg" alt="">
        <img class="line-img" src="../assets/images/line_1.svg" alt="">
        <img src="../assets/images/ellipse_24.svg" alt="">
      </div>
      <div class="row">
        <div class="col-1">
          <h3>Order placed</h3>
          <p>Just place the order using our simple app. Customize your pick, add any special instructions, and then sit
            back and relax as we handle the rest.</p>
        </div>
        <div class="col-2">
          <h3>Pick- Up</h3>
          <p>Our passionate delivery partners handpick your goods from your preferred local vendors, assuring
            consistency
            in quality and freshness.</p>
        </div>
        <div class="col-3">
          <h3>Delivered</h3>
          <p>Experience the comfort of home delivery. Our fast and lovely delivery partners will bring your item right
            to
            you, delivering a smooth and hassle-free experience.</p>
        </div>
      </div>
    </div>
  </div>
</div>