<div class="container">
    <div class="img">
        <img src="../../../assets/images/about_bg.svg" alt="">
    </div>
    <div class="content">
        <div class="about">
            <h1>About Dreamzar</h1>
            <p>Welcome to Dreamzar, your premier destination for hyperlocal delivery solutions that bring convenience
                right to your doorstep. At Dreamzar, we believe in transforming the way you experience local services by
                connecting you with a network of trusted delivery partners who share our commitment to reliability and
                efficiency. Our user-friendly app is designed to seamlessly bridge the gap between you and the best your
                neighborhood has to offer. Whether you're craving a meal from your favorite local restaurant, in need of
                essentials from nearby stores, or seeking quick and secure parcel delivery, Dreamzar is your go-to
                platform. We take pride in fostering a sense of community by supporting local businesses and ensuring
                swift, hassle-free deliveries. Join us in making every moment count – <span>Dreamzar, where dreams meet
                    doorstep.</span>
            </p>
        </div>
        <div class="mission">
            <h2>Mission</h2>
            <p>
                Our mission is to redefine hyperlocal delivery by providing a platform that empowers communities,
                supports local businesses, and enriches lives. Dreamzar is committed to offering a reliable and
                efficient delivery service that reflects the unique character of each neighborhood we serve.
            </p>
        </div>
        <div class="work">
            <h2>Your Dream, Our Delivery</h2>
            <p>Whether it's a last-minute grocery run, a special gift for a loved one, or urgent medical supplies,
                Dreamzar is here to fulfill your dreams. With a commitment to excellence and a passion for community
                building, we invite you to experience a new era of hyperlocal delivery.</p>
        </div>
        <h3>Welcome to Dreamzar – Where Every Delivery is a Dream Come True!</h3>
    </div>
</div>