<div class="container">
    <div class="nav-center">
        <img src="../../../../assets/icons/icon_logo.svg" alt="">
        <div class="nav-pages">
            <ul>
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/about-us">About</a></li>
                <li><a routerLink="/contact-us">Contact us</a></li>
                <li><a routerLink="/apply-seller">Add Your Store</a></li>
            </ul>
        </div>
    </div>

</div>